.navbar{
    height: 60px;
    width: 90%;
    background-color: black;
    display: flex;
    margin: 20px;
    border-radius: 100px ;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    
}
.navbar .logo{
    height: 100%;
    width: 60px;
    margin-left: 30px;
    border-radius: 50%;
}
.navbar .links{
    display: flex;
    gap: 20px;
}
body{
    background-image: url("CSSweek2/images/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

